*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: url(./img/img.jpg);
    background-size: cover;
    background-position: center;
}
.conteiner{
    width: 420px;
    background-color: transparent;
    border:2px solid rgb(255, 255, 255,2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}

.conteiner{
    font-size: 36px;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    
}